*{
	margin: 0;
	padding: 0;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

body,html{
	background-color:#49a083;
	height: 100vh;
	width: 100vw;
}

main{
	position: relative;
	height: 100vh;
	width: 100vw;

	

}

section#login{
	background-color: white;
	height: 600px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px ;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
	
	transition: width 0.3s, height 0.3s;
	transition-timing-function: ease;
}


section#login div#imagem{
	display: block;
	background:rgb(105, 196, 105) url(../img/small3.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	height: 200px;
	overflow: hidden;
	
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}

section#login div#formulario{
	display: block;
	padding: 15px 10px 15px 10px;
}

section#login div#formulario h1{
	padding-bottom: 10px;
}

section#login div#formulario p{
padding-bottom: 10px;
font-size: 1.1em;

}

section#login div#formulario input{
padding: 10px;
margin-top: 5px;
width: 270px;
border:2px solid rgb(10, 151, 10);
border-radius: 15px;

}