@charset "Utf-8";

@media screen and (min-width: 769px) and (max-width:991px) {


body {
	background-image: linear-gradient(to top, white,#B8D0EB);
}

section#login{
	height: 280px;
	width: 80vw;
	
}

section#login div#imagem{
	float: left;
	height: 100%;
	width: 30%;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 15px;;

}

section#login div#formulario {
	float: right;
	width: 70%;
}

}

@media screen and (min-width:992px) {


body {
	background-image: linear-gradient(to top, white,#B8D0EB);
}

section#login{
	width: 950px;
	height: 350px;
	
}

section#login div#imagem{
	float: right;
	width: 50%;
	height: 100%;
	border-bottom-left-radius:15px;


}

section#login div#formulario {
	float: left;
	width: 50%;

}

section#login div#formulario h1{
	font-size: 2em;
}
	
section#login div#formulario p{
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
	
}	
	

	
}



